.chatWindow {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 80%;
  max-width: 1000px;
  background: rgb(0, 0, 29);
  background: linear-gradient(
    203deg,
    rgba(0, 0, 29, 0.2) 0%,
    rgba(9, 9, 121, 0.2) 35%,
    rgba(0, 213, 255, 0.2) 100%
  );
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 7, 74, 0.578);
  padding: 0.5rem;
  max-height: 80vh;
}

.messagesContainer {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.messagesContainer::-webkit-scrollbar {
  display: none;
}

.sendMessageForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #ccc; /* Border for the entire form */
  background-color: #e1f4ff; /* Background for the entire form */
  transition: box-shadow 0.2s;
  cursor: text; /* Indicate the form is clickable */
  position: relative;

  &:focus-within {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Highlight when focused */
  }

  &__input {
    width: 100%;
    padding: 1rem;
    padding-bottom: 0;
    border-radius: 10px;
    border: none; /* Remove default input border */
    background-color: inherit;
    outline: none;
    resize: none;
    font-size: 1rem;
    line-height: 1.5rem;
    overflow-y: auto;
    height: 3rem;
    max-height: 200px;

    &:active {
      outline: none; /* Remove default focus outline */
      border: none;
    }

    &:focus {
      outline: none; /* Remove default focus outline */
      border: none;
    }
  }

  &__sendBtn {
    align-self: flex-end;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 204, 0);
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.2s;
    font-weight: 500;

    &:hover {
      background-color: rgb(166, 166, 0);
      opacity: 0.9;
      color: white;
    }

    &:active {
      color: white;
      background-color: rgb(135, 135, 0);
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      background-color: #c4c4c4;
      cursor: not-allowed;
    }
  }
}
